<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<fieldset>
    UserName:<input type="text" id="username" value="Tony" /><br />
    Password:<input type="password" id="password" value="" /><br />
    <input type="button" id="getToken" value="Get Token" /><br />
    <textarea cols="20" id="v_token" readonly rows="4" style="max-width: 600px; width: 600px;"></textarea><br />
    <input type="button" id="getData" value="Get Data" /><br />
    <textarea id="v_data" readonly rows="4" style="max-width: 600px; width: 600px;"></textarea>
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        var apiServer = 'http://localhost:52944/api/';

        $('#getToken').click(function () {
            $.post(apiServer + 'JWT', {
                account: $('#username').val(),
                password: $('#password').val()
            })
                .done(function (data) {
                    if (data.result !== undefined && data.result) {
                        $('#v_token').val(data.token);
                    } else {
                        $('#v_token').val('error');
                    }
                })
                .fail(function (err) {
                    $('#v_token').val('error');
                });
        });

        $('#getData').click(function () {
            $.ajax({
                url: apiServer + 'Products',
                type: 'GET',
                headers: {
                    Authorization: 'Bearer ' + $('#v_token').val()
                },
                dataType: 'json',
                success: function (data) {
                    $('#v_data').val(JSON.stringify(data));
                },
                error: function (data) {
                    $('#v_data').val('error');
                }
            })
        })
    });
</script>